.about--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px 40px 60px;
}

.about--hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.about--text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 560px;

  & p {
    font-size: 18px;
    line-height: 1.55;

    &.heading {
      font-size: 28px;
      line-height: 1.3;
      font-weight: 600;
    }
  }
}

.about--links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.text--link {
  font-size: 18px;
  text-decoration: underline;

  &:hover {
    color: #4565e8;
  }
}

.play--link {
  justify-self: center;
}

.play--image {
  transition: 0.8ms ease-in;

  &:active {
    position: relative;
    top: 2px;
  }
}
